@import 'bootstrap/css/bootstrap.css';
@import 'pygments-solarized-dark.css';

body {
    background: white url(images/bg-pattern.png);

    pre {
        white-space: pre;
        overflow: auto;
        word-wrap: normal;
    }

    pre.prettyprint{
        padding: 1em;
        font-size: 14px;
        line-height: inherit;
        margin: 1em 0 1em 1em;
        width: auto;
    }

    .nav-header {
        font-size: 14px;
    }
}

.post {
    margin-bottom: 1em;
    overflow: auto;

    .meta { color: #999; }

    .post-content {
        h2 { margin-top: 1.5em; }
        code { white-space: nowrap; }
        pre code { white-space: pre; }
        div.highlight pre { color: inherit; } //bootstrap is clobbering this color

        div.highlight, table.table, figure, div.alert {
            margin: 2em 1em;
        }

        .footnote-ref {
            font-size: 0.83em;
            vertical-align: super;
        }

        blockquote.pull-right {
            width: 40%;
            background: #ffe9aa;
            padding: 0.5em;
            margin-left:1em;
            clear: right;
        }

        table.table {
            background: white;
            width: auto;
        }

        figure {
            clear: both;

            border-radius: 5px;
            border: 1px solid #CCDDE6;
            background: white;
            text-align: center;

            img {
                padding: 1em;
                max-width: 100%;
                height: auto;
            }

            figcaption {
                margin-top: 1em;
                padding: 1em;
                border-top: 1px solid #CCDDE6;
                background: #EEEEF3;
                font-style: italic;
                font-size: small;
            }

            &.nopadding img {
                padding: 0;
            }

            &.black {
                background: black;
                border: none;
            }

            &.naked {
                background: none;
                border: none;
            }
        }

        .mathjax-block {
            text-align: center;
            display: block;
            font-size: 120%;
            margin: 1em 0;
        }
    }

    .subscribe-bait {
        margin: 2em 0;
        text-align: center;

        p {
            margin-bottom: 1em;
        }

        .btn {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        iframe {
            vertical-align: middle;
        }
    }
}

.post-listed {
    h2 {
        margin-bottom: 0;
    }

    header {
        margin-bottom: 1em;
    }

    .more i {
        margin-left: 0.3em;
    }
}

.post-single {
    header {
        margin-top: 1em;
        margin-bottom: 2em;

        .main-image {
            font-style: italic;
            font-size: small;
            text-align: center;
            img { margin: 1em auto 0; }
        }
    }
}

.sidebar .post-count {
    padding: 0 0.15em;
}

.page-footer {
    text-align: center;
    color: #999;
    font-size: small;
    margin: 2em 0;
}

.twitter-panel-body {
    height: 555px;
    overflow: hidden;
    padding: 0;
}

.about-me {
    .social {
        text-align: center;
        margin-bottom: 2em;
    }
    .mugshot {
        margin: 0 auto 1em;
    } 
}

.social a {
    padding: 0 0.4em;
    text-decoration: none;
    color: inherit;
    &:hover { color: #2a6496; }
}

.panel-heading {
    font-weight: bold;
}

.highlight {
    border-radius: 6px;
    pre {
        border: none;
        background-color: transparent;
        border-radius: 5px;
    }
}

h1 a {
    color: black;
}

a img:hover {
    opacity:0.75;
}

a {
    -webkit-transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
       -moz-transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
         -o-transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
            transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

h1, h2, h3, h4 {
    text-shadow: #AAA 1px 1px 3px;
    clear: both;
}

h1 {
    font-weight: bold;
}

