@import 'bootstrap/css/bootstrap.css';

body {
    background: white url(theme/bg-pattern.png);

    pre {
        white-space: pre;
        overflow: auto;
        word-wrap: normal;
    }

    pre.prettyprint{
        padding: 1em;
        font-size: 14px;
        line-height: inherit;
        margin: 1em 0 1em 1em;
        width: auto;
    }

    .nav-header {
        font-size: 14px;
    }
}

.post {
    margin-bottom: 1em;
    overflow: auto;

    .meta {
        color: #999;
    }

    blockquote.pull-right {
        width: 40%;
        background: #ffe9aa;
        padding: 0.5em;
        margin-left:1em;
        clear: right;
    }

    code {
        white-space: nowrap;
    }

    pre code {
        white-space: pre;
    }

    p.image {
        text-align: center;
        font-size: small;
        font-style: italic;
        color: #666;
        margin: 1em 0;
    }

    p.image img {
        display: block;
        margin: 0 auto 5px;
    }

    .mathjax-block {
        text-align: center;
        display: block;
        font-size: 120%;
        margin: 1em 0;
    }

    .subscribe-bait {
        margin: 2em 0;
        text-align: center;

        p {
            margin-bottom: 1em;
        }

        .btn {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        iframe {
            vertical-align: middle;
        }
    }
}

.post-listed {
    h2 {
        margin-bottom: 0;
    }

    header {
        margin-bottom: 1em;
    }

    .wp-post-image {
        float: right;
        margin-left: 2em;
        margin-bottom: 2em;
    }
}

.post-single {
    .post-thumbnail {
        margin-bottom: 2em;
        text-align: center;
    }

    header {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}

.sidebar {
    .panel-heading {
        font-weight: bold;
    }
    .post-count {
        padding: 0 0.15em;
    }
}

h1 a {
    color: black;
}

a img:hover {
    opacity:0.75;
}

h1, h2, h3, h4 {
    text-shadow: #AAA 1px 1px 3px;
}

h1 {
    font-weight: bold;
}

.hero-unit {
    background: url(theme/front-banner.jpg) left center no-repeat;
}

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}

