<div class="post-list">
  <h1>Posts</h1>

  <article class="post post-listed">
    <header>
      <h2><a href="/example-blog-post/">Example Blog Post</a></h2>
      <small class="meta">
        <span class="post-date">31 May, 2009.</span>
      </small>
    </header>

    <div class="post-content">
      <p>Short description goes here. This is the part that is shown in
      a list of posts.</p>
    </div>

    <footer>
      <a class="btn btn-default more" href="/example-blog-post/">Read full post &rarr;</a>
    </footer>
  </article>
</div>
